# Fichiers Git
.git
.gitignore

# Environnements virtuels Python
venv/
env/
ENV/

# Fichiers de cache Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Fichiers de test
tests/

# Fichiers Docker
.dockerignore

# Fichiers d'environnement
.env

# Fichiers de logs
*.log

# Fichiers temporaires
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Fichiers IDE
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
